body {
  background-image: url("Coffee-beans.jpg");
  background-size: cover;
}
h1,p,a{
  text-align: left;
}

h1 {
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:4em;
  padding-top: 130px;
  padding-left:0px;
  outline-width: medium;
  color: White;
}

a {
  font-family: gabriola;
  font-size:1em;
  outline-width: thin;
  color: #4d2600;
}
p {
  font-family: gabriola;
  font-size:2em;
  outline-width: thin;
  color: #4d2600;
}
div.col1-sm {
  border: 1px solid white ;
  border-radius: 5px;
  text-decoration-color: #4d2600;
  background-color: white;
  width: 400px;
  height: 480px;
  opacity: 0.7;
}

.navbar-brand {
  font-family: trebuchet MS;
  font-weight: bold;
  font-stretch: expanded;
  font-size: 2em;
  color: white;
}

.nav-link {
  font-family: gabriola;
  font-size:1.5em;
}

.navbar {
  background-color: rgb(51,17,0,0.4);
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
