body {
  background-image:url("grind_logo.jpg");
  background-size: 1800px;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  ;
}
h1,p,a{
  color: saddlebrown;
  text-align:left;
  outline-color: saddlebrown;

}
h1 {
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:4em;
  padding-top: 130px;
  padding-left: 0px;
  outline-width: medium;
  text-align:left;
}
p,a {
  font-family: gabriola;
  font-size:2em;
  outline-width: thin;
}
