body {
  background-image: url("coffeebeans9.jpg");
  background-repeat: no-repeat;
}
h1 {
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:10em;
  padding-top: 10px;
  outline-width: medium;
}
h2 {
  font-family: trebuchet MS;
  font-size:10em;
  outline-width: thin;
}
p,a {
  font-family: gabriola;
  font-size:2em;
  outline-width: thin;
}

.carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
