body {
  background-image: url("coffee_beans.jpg");
  background-size: 700px;
}
h1,p,a{
  color: White;
  text-align: left;
  outline-color: saddlebrown;

}
h1 {
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:4em;
  padding-top: 130px;
  padding-left:0px;
  outline-width: medium;
}
h2 {
  color: #4d2600;
}
p,a {
  font-family: gabriola;
  font-size:2em;
  outline-width: thin;
  color: #4d2600;
}
div.boxed {
  border: 1px solid white ;
  text-decoration-color: #4d2600;
  background-color: white;
  width: 1100px;
  height: 400px;
  opacity: 0.5;
}
