body {
  background-image:url("grind_logo.jpg");
  background-size: 1800px;
  background-repeat: no-repeat;
  image-rendering: crisp-edges;
  ;
}
h1,p,a{
  color: saddlebrown;
  text-align:left;
  outline-color: saddlebrown;

}
h1 {
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:4em;
  padding-top: 130px;
  padding-left: 0px;
  outline-width: medium;
  text-align:left;
}
p,a {
  font-family: gabriola;
  font-size:2em;
  outline-width: thin;
}
.carousel {
  margin-bottom: auto;
  margin-top: 1.5rem;
  align-items: center;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0rem;
  left: 5rem;
  min-width: 90%;
  height: 32rem;
  margin:auto;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}
