body {
  background-color:white;
}
h1,p,a{
  color: saddlebrown;
  text-align:left;
  outline-color: saddlebrown;

}
h1 {
  font-family: trebuchet MS;
  font-weight: bold;
  font-size:4em;
  padding-top: 130px;
  padding-left: 0px;
  outline-width: medium;
}
p,a {
  font-family: gabriola;
  font-size:2em;
  outline-width: thin;
}
